/* 
 * 1. Google Font
 */
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Advent+Pro:700');
/* 
 * 2.0 Global Style
 */


html {
  font-family: 'Advent Pro','Roboto' sans-serif;
  font-size: 16px;
}

body {
  color: #4e4e4e;
  font-family: 'Advent Pro','Roboto' sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
.timeline-title-day{

  font-family: 'Advent Pro' ;
}
.timeline-info{
  font-family: 'Advent Pro' ; 
}
.timeline-title {

   font-family: 'Roboto' ; 

}
.cloture-title{
  margin-left: 15px ;
}
a {
  color: #000;
}
a:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  margin: 0 0 30px;
}

ul li {
  font-weight: 700;
  margin-bottom: 10px;
}

.custom-list-icon, .list-arrow-right {
  list-style-type: none;
  padding: 0;
}
.custom-list-icon li, .list-arrow-right li {
  position: relative;
  padding-left: 20px;
}
.custom-list-icon li::before, .list-arrow-right li::before {
  position: absolute;
  left: 0;
  color: #4e4e4e;
  font-family: "Ionicons";
}

.portfolio-box {
  position: relative;

  max-width: 650px;
  margin: 0 auto; }
  .portfolio-box .portfolio-box-caption {
    position: absolute;
    bottom: 0;
    padding: 10px ;
   
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: white;
    background: #12162B;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
       }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        padding: 0 15px;
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 16px; 
        color: white}
  .portfolio-box:hover .portfolio-box-caption {
    opacity: 1; }
  .portfolio-box:focus {
    outline: none; }
  @media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
      font-size: 12px; 
      margin-top: 2px;}
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
      font-size: 19px; } }

.ion-social-facebook{
  margin-right: 5px ;
}
.ion-social-googleplus{
  margin-left: 15px;
}
.profess {


  text-align: center;
}
.social-block {
  list-style-type: none;
  padding: 0;
  margin-right: 25px;
}
.social-block li {
  display: inline-block;
}
.social-block li a {
  display: inline-block;
  height: 32px;
  width: 32px;
  color: #4e4e4e;
}
.social-block li a i {
  font-size: 1.5em;
}
.social-block li a:hover, .social-block li a:focus {
  color: #000;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
}

.btn {
  border: 0;
  border-radius: 0;
  padding: 6px 28px;
  text-transform: uppercase;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
          transition-property: transform;
}
.btn:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  height: 48px;
  padding: 10px 12px;
  font-size: 16px;
  line-height: 1.6;
}
.form-control:focus {
  box-shadow: none;
  border-color: #ccc;
  background-color: #f8f8f8;
}

.valign-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.section {
  padding: 70px 0;
}
.title-section{



}

.section-title {
  color: #db960d;
  letter-spacing: 1px;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-family: 'Advent Pro', sans-serif;
  text-align: center;
}
.section-inscription{
margin : auto ;
width: 50% ;
  text-align: left;


}
.egov-title {
 
  
 
 
  font-family: 'Roboto', sans-serif;
 
}
.section-title-inscription {

  color: #db960d;
  letter-spacing: 1px;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-family: 'Advent Pro', sans-serif;
  text-align: left;

}
.section-title-schedule {
  color: #db960d;
  letter-spacing: 1px;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-family: 'Advent Pro', sans-serif;
  text-align: left;

}


/* 
 * 3.0 Helper Class
 */
/* 
 * 3.1 Helper Class: font-weight
 */
.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-700 {
  font-weight: 700;
}

/* 
 * 3.2 Helper Class: margin
 */
.mt0 {
  margin-top: 0;
}

.mb0 {
  margin-bottom: 0;
}

.mt20 {
  margin-top: 20px;
}

/* 
 * 3.3 Helper Class: list
 */
.list-arrow-right li::before {
  content: "\f3d3";
}

/* 
 * 3.4 Helper Class: button
 */
.btn-white {
  color: #000;
  background-color: #0076a3;
 

}
.btn-white:hover, .btn-white:focus {
  color: #000;
  background-color: #fff;
}

.btn-black {
  color: #fff;
  background-color: #000;
}
.btn-black:hover, .btn-black:focus {
  color: #fff;
  background-color: #000;
}

/* 
 * 3.5 Helper Class: background
 */
.bg-image, .bg-image-1, .bg-image-2 {
  position: relative;
}
.bg-image::before, .bg-image-1::before, .bg-image-2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bg-image-1 {
  background: url(../images/backgrounds/bg-1.jpg) no-repeat center center/cover;
}
.bg-image-1::before {
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-image-2 {
  background: url(../images/backgrounds/bg-2.jpg) no-repeat center bottom/cover;
}
.bg-image-2::before {
  background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 768px) {
  .section {
    padding: 90px 0;
  }

  .section-title {
    color: #db960d;
    letter-spacing: 1px;
    margin: 0 0 60px;
    text-transform: uppercase;
    text-align: left;
  }
}
/* 
 * 4.0 Navigation
 */
.navbar-custom {
  border: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2c3e50;
  -webkit-transition: all 0.2s linear 0s;
          transition: all 0.2s linear 0s;
}
.navbar-custom .navbar-nav li {
  margin: 0;
}
.navbar-custom .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px solid transparent;
}
.navbar-custom .navbar-nav > li > a:focus, .navbar-custom .navbar-nav > li > a:hover {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.5);
}
.navbar-custom .navbar-nav > .active > a {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggle {
  border: 0;
  border-radius: 0;
  margin-top: 2px;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-solid {
  background-color: #2c3e50 !important;
  padding: 0 !important;
  -webkit-transition: all 0.2s linear 0s;
          transition: all 0.2s linear 0s;
}

.site-branding {
  float: left;
  margin-top: 0;
  margin-left: 10px;
}
.site-branding .logo {
  color: #fff;


  margin-right: 5px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.site-branding .logo:focus, .site-branding .logo:hover {
  text-decoration: none;
}
.img-logo{

  height: 60px ;

}
/* 
 * 5.0 Site Header
 */
.site-header {
  width: 100%;
 
  min-height: 100vh;
  position: relative;
  text-align: center;
  background: url(../images/backgrounds/header.jpg) no-repeat center center/cover;
  display: table;
}
.site-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.site-header .intro {
  color: #ebaf22;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;

  display: table-cell;
  vertical-align: middle;
  height: 100vh;
padding-top: 120px;

 
}
.site-header .intro h2 {
  margin-top: 0px;
  font-size: 25px;
  font-weight: 300;
}
.site-header .intro h1 {
  margin-top: 0px;
  font-size: 30px;
}
.site-header .intro p {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding-top: 30px;
  }

  .site-branding {
    margin-top: 6px;
    margin-left: 0;
  }
}
/* 
 * 6.0 Section
 */
/* 
 * 6.1 Section: About 
 */
 .title-section {


margin-left: 200px ;
 

 }
.about .section-title {
  margin: 0 0 25px;
}
.about figure {
  margin-bottom: 25px;
}

/* 
 * 6.2 Section: Facts
 */
.facts i {
  color: #fff;
  font-size: 3em;
}
.facts h3 {
  color: #fff;
  text-align: center;
  font-weight: 400;
}

/* 
 * 6.3 Section: Speaker
 */
.speaker {
  text-align: center;
  color: #313131;
  text-transform: uppercase;
  margin: 25px 0;
}
.speaker h4 {
  margin-top: 15px;
  margin-bottom: 5px;
}
.speaker p {
  margin-bottom: 5px;
}
.speaker img:hover {
  opacity: .7;
}

/* 
 * 6.4 Section: Registration & Pricing
 */
/* 
 * 6.5 Section: Contribution
 */
.contribution {
  text-align: center;
  color: #fff;
}

#registration-form
{
  
  margin-left : 170px ;
}
/* 
 * 6.6 Section: Schedule
 */
.schedule-box {
  position: relative;
  background-color: #d2d6d8;
  color: #0076a3;
  text-align: center;
  padding: 30px 0;
  margin: 25px 0 0;
}
.schedule-box::before {
  content: '';
  position: absolute;
  top: 3px;
  right:3px;
  bottom: 3px;
  left: 3px;
  border: 1px solid #0076a3;
}

/* 
 * 6.7 Section: Schedule
 */
.partner {
  background-color: #f8f8f8;
}
#name>* {
    display:none;
}
.partner .partner-box {
  display: block;
  opacity: 0.7;
  height: 250px;
  width: 250px;
  margin: 25px auto;
  -webkit-transition: 0.5s all linear;
          transition: 0.5s all linear;
}
.partner .partner-box:hover {
  opacity: 1;
}
.partner .partner-box-1 {
  background: url(../images/partner/tunegov.png) no-repeat center center/contain;
  width: 150 ;
  height: 150 ;
}
.partner .partner-box-2 {
  background: url(../images/partner/fried.jpg) no-repeat center center/contain;
width: 150 ;
  height: 150 ;
}
.partner .partner-box-3 {
  background: url(../images/partner/tuntel.png) no-repeat center center/contain;
width: 150 ;
  height: 150 ;
}
.partner .partner-box-4 {
  background: url(../images/partner/radio-med.png) no-repeat center center/contain;
width: 150 ;
  height: 150 ;
}
.partner .partner-box-5 {
  background: url(../images/partner/entreprise.jpg) no-repeat center center/contain;
width: 150 ;
  height: 150 ;
}
.partner .partner-box-6 {
  background: url(../images/partner/it.png) no-repeat center center/contain;
width: 150 ;
  height: 150 ;
}
.partner .partner-box-7 {
  background: url(../images/partner/monastir.png) no-repeat center center/contain;
width: 150 ;
  height: 150 ;}
.partner .partner-box-8 {
  background: url(../images/partner/partner-8.png) no-repeat center center/contain;
width: 150 ;
  height: 150 ;
}

/* 
 * 6.8 Section: FAQ
 */
.faq .panel-heading {
  cursor: pointer;
}
.faq .faq-toggle.collapsed::before {
  font-family: "Ionicons";
  content: "\f218";
  -webkit-transition: 0.5s linear ease-out;
          transition: 0.5s linear ease-out;
  position: absolute;
  left: 15px;
}
.faq .faq-toggle::before {
  position: absolute;
  left: 15px;
  font-family: "Ionicons";
  content: "\f209";
}
.faq .panel-group .panel + .panel {
  margin-top: 15px;
}
.faq .panel-default > .panel-heading {
  color: #FFF;
  background-color: #a8a8a8;
  border-color: #000;
  border-radius: 0;
  padding: 0;
}
.faq .panel-default > .panel-heading a {
  position: relative;
  display: block;
  text-decoration: none;
  padding: 15px 15px 15px 35px;
}

/* 
 * 6.9 Section: photos
 */
.grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.grid::after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  overflow: hidden;
  padding: 3px;
  margin: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .grid-item-sm-6 {
    width: 50%;
  }

  .grid-item-sm-3 {
    width: 25%;
  }

  .section-title {
    margin: 0 0 30px;
  }

  figure {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .schedule-box {
    margin: 0;
  }

  .grid-item-md-6 {
    width: 50%;
  }

  .grid-item-md-3 {
    width: 25%;
  }
}
/* 
 * 7.0 Site-footer
 */
.site-footer {
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}
.site-footer .site-info {
  font-weight: 400;
  margin-bottom: 10px;
}
.site-footer .site-info a {
  color: #fff;
}
.site-footer .social-block li a {
  color: #fff;
}
.site-footer .social-block li a:hover, .site-footer .social-block li a:focus {
  opacity: 0.8;
}
html, body {
	height: 100%;
}

html {
	background-image: url('../img/sample.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;	
}

.img-circle{
height: 50px;
width: 50px ;

}
.img-responsive{
margin-top: 50px ;
height: 200px ;
width: 200px ;

}
.image-responsive{

margin-top: 50px ;
height: 200px ;
width: 200px ;
}
body {
	background-color: rgba(44,62,80 , 0.6 );
	background-image: url('../img/pattern.png');
	background-position: center;
	background-repeat: repeat;
	font-family: 'Raleway', 'Arial', sans-serif;
}

.countdown-container {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);

}

.clock-item .inner {
	height: 0px;
	padding-bottom: 100%;
	position: relative;	
	width: 100%;
}

.clock-canvas {
	background-color: rgba(255, 255, 255, .1);
	border-radius: 50%;
	height: 0px;
	padding-bottom: 100%;
}

.text {
	color: #fff;	
	font-size: 30px;
	font-weight: bold;	
	margin-top: -50px;
	position: absolute;
	top: 50%;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	width: 100%;
}

.text .val {
	font-size: 50px;
}

.text .type-time {
	font-size: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
	.clock-item {
		margin-bottom: 30px;		
	}
}

@media (max-width: 767px) {
	.clock-item {
		margin: 0px 30px 30px 30px;
	}
}
/* added design */
@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

*{margin:0; padding:0; box-sizing:border-box;}
html,body{
  height:100%; 
  /* The old syntax, deprecated, but still needed, prefixed, for WebKit-based and old browsers */
  background: linear-gradient(left, #E7E7E7, white,#E7E7E7);
  /* The new syntax needed by standard-compliant browsers (Opera 12.1, IE 10, Fx 16 onwards), without prefix */
  background: linear-gradient(to right, #E7E7E7, white,#E7E7E7);
}
.container{
  width:100%;
  height:100%;
}
.arrow(@top, @left, @color, @border-size:20px){
  display:inline-block;
  width: 0; 
  height: 0; 
  border-left: @border-size solid transparent;
  border-right: 0px solid @color;
  border-bottom: @border-size solid @color;
  position:absolute;
  top: @top;
  left: @left;
}
.border-radius(@top-left, @top-right, @bottom-right, @bottom-left){
  border-top-left-radius:@top-left;
  border-top-right-radius: @top-right;
  border-bottom-right-radius: @bottom-right;
  border-bottom-left-radius: @bottom-left;
}

.wrapper{
  width:270px;
  margin:50px auto;
  position:Relative;
}

.word{
  display:block;
  text-align:center;
  font-family: "BenchNine";
  line-height:0.8;
  text-transform:uppercase;
  letter-spacing:0px;
}

.word5, .word6{
  color:#F0A80D;
  font-family: 'Advent Pro', sans-serif;

}

.word5{font-size:2.1em}
.word6{font-size:6em}

.myButton {
  -moz-box-shadow:inset 0px 1px 3px 0px #a8a8a8;
  -webkit-box-shadow:inset 0px 1px 3px 0px #a8a8a8;
  box-shadow:inset 0px 1px 3px 0px #a8a8a8;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #e0e0e0));
  background:-moz-linear-gradient(top, #ededed 5%, #e0e0e0 100%);
  background:-webkit-linear-gradient(top, #ededed 5%, #e0e0e0 100%);
  background:-o-linear-gradient(top, #ededed 5%, #e0e0e0 100%);
  background:-ms-linear-gradient(top, #ededed 5%, #e0e0e0 100%);
  background:linear-gradient(to bottom, #ededed 5%, #e0e0e0 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#e0e0e0',GradientType=0);
  background-color:#ededed;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  border:1px solid #edfaf6;
  display:inline-block;
  cursor:pointer;
  color:#db960d;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  padding:13px 32px;
  text-decoration:none;
  text-shadow:0px -1px 0px #ededed;
  margin : 20px;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e0e0e0), color-stop(1, #ededed));
  background:-moz-linear-gradient(top, #e0e0e0 5%, #ededed 100%);
  background:-webkit-linear-gradient(top, #e0e0e0 5%, #ededed 100%);
  background:-o-linear-gradient(top, #e0e0e0 5%, #ededed 100%);
  background:-ms-linear-gradient(top, #e0e0e0 5%, #ededed 100%);
  background:linear-gradient(to bottom, #e0e0e0 5%, #ededed 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#ededed',GradientType=0);
  background-color:#e0e0e0;
}
.myButton:active {
  position:relative;
  top:1px;
}
$blue: rgb(0,155,255);

body, html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color:#12162B; 
}

.jawn {
  position: relative;
  background-color: #F8E71C;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  border-radius: 50%;
  
  &:after, &:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }
  
  &:after {
    left: -10px;
    top: -5px;
    background-color: #C7C2A6;
    transform-origin: 15px 10px;
    animation: axis 1s linear infinite;
  }
  &:before {
    left: -25px;
    top: -15px;
    background-color: $blue;
    transform-origin: 30px 20px;
    animation: axis 2s linear infinite;
  }
}

@keyframes axis {
  0% {
    transform: rotateZ(0deg) translate3d(0,0,0);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0,0,0);
  }
}
body,
html {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif; }

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #db960d; }

hr.light {
  border-color: white; }

a {
  color: #db960d;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  a:focus, a:hover {
    color: #db960d; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px; }

.bg-primary {
  background-color: #db960d !important; }

.bg-dark {
  color: white;
  background-color: #222222 !important; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

section {
  padding: 50px 0; }

.section-heading {
  margin-top: 0; }

::-moz-selection {
  color: white;
  background: #222222;
  text-shadow: none; }

::selection {
  color: white;
  background: #222222;
  text-shadow: none; }

img::selection {
  color: white;
  background: transparent; }

img::-moz-selection {
  color: white;
  background: transparent; }

body {
  -webkit-tap-highlight-color: #222222; }

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  #mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #db960d;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #db960d; }
  #mainNav .navbar-toggle {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222; }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus,
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
      color: #db960d; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active,
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
      color: #db960d !important;
      background-color: transparent; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover,
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
        background-color: transparent; }
  @media (min-width: 992px) {
    #mainNav {
      border-color: rgba(255, 255, 255, 0.3);
      background-color: transparent; }
      #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
          color: white; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: white; }
      #mainNav.navbar-shrink {
        border-color: rgba(34, 34, 34, 0.05);
        background-color: white; }
        #mainNav.navbar-shrink .navbar-brand {
          font-size: 16px;
          color: #db960d; }
          #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
            color: #db960d; }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
          color: #222222; }
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: #db960d; } }

header.masthead {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: white;
  background-image: url("../img/header.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header.masthead .header-content {
    position: relative;
    width: 100%;
    padding: 150px 15px 100px;
    text-align: center; }
    header.masthead .header-content .header-content-inner h1 {
      font-size: 30px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 0;
      text-transform: uppercase; }
    header.masthead .header-content .header-content-inner hr {
      margin: 30px auto; }
    header.masthead .header-content .header-content-inner p {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 50px;
      color: rgba(255, 255, 255, 0.7); }
  @media (min-width: 768px) {
    header.masthead {
      height: 100%;
      min-height: 600px; }
      header.masthead .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        header.masthead .header-content .header-content-inner {
          max-width: 1000px;
          margin-right: auto;
          margin-left: auto; }
          header.masthead .header-content .header-content-inner h1 {
            font-size: 50px; }
          header.masthead .header-content .header-content-inner p {
            font-size: 18px;
            max-width: 80%;
            margin-right: auto;
            margin-left: auto; } }

.service-box {
  max-width: 400px;
  margin: 50px auto 0; }
  @media (min-width: 992px) {
    .service-box {
      margin: 20px auto 0; } }
  .service-box p {
    margin-bottom: 0; }

.img-fluid{

  width: 300px ;
  height: 300px ;
}
.portfolio-box {
  height: 300px ;
  width: 300px;
  position: relative;
  display: block;
  max-width: 650px;
  }
 
  .portfolio-box .portfolio-box-caption  {
    
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: white;
    background: #12162B;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content  {
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
      text-align: center; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name  {
        padding: 0 12px;
        font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category{
        font-size: 12px;
        padding: 7px;
      
       }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        padding: 7px ;
        font-size: 10px; }
  .portfolio-box:hover .portfolio-box-caption {
     }
  .portfolio-box:focus {
    outline: none; }
  @media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
      font-size: 12px; }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
      font-size: 10px; } }

.call-to-action {
  padding: 50px 0; }
  .call-to-action h2 {
    margin: 0 auto 20px; }

.text-primary {
  color: #db960d !important; }

.no-gutter > [class*='col-'] :not(#social){
  padding-right: 0;
  padding-left: 0; }

.btn-default {
  color: #222222;
  border-color: white;
  background-color: white; }
  .btn-default.focus, .btn-default:focus {
    color: #222222;
    border-color: #bfbfbf;
    background-color: #e6e6e6; }
  .btn-default:hover {
    color: #222222;
    border-color: #e0e0e0;
    background-color: #e6e6e6; }
  .btn-default.active, .btn-default:active,
  .open > .btn-default.dropdown-toggle {
    color: #222222;
    border-color: #e0e0e0;
    background-color: #e6e6e6; }
    .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover,
    .open > .btn-default.dropdown-toggle.focus,
    .open > .btn-default.dropdown-toggle:focus,
    .open > .btn-default.dropdown-toggle:hover {
      color: #222222;
      border-color: #bfbfbf;
      background-color: #d4d4d4; }
  .btn-default.active, .btn-default:active,
  .open > .btn-default.dropdown-toggle {
    background-image: none; }
  .btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover,
  fieldset[disabled] .btn-default.focus,
  fieldset[disabled] .btn-default:focus,
  fieldset[disabled] .btn-default:hover {
    border-color: white;
    background-color: white; }
  .btn-default .badge {
    color: white;
    background-color: #222222; }

.btn-primary {
  color: white;
  border-color: #db960d;
  background-color: #db960d; }
  .btn-primary.focus, .btn-primary:focus {
    color: white;
    border-color: #a4270d;
    background-color: #db960d; }
  .btn-primary:hover {
    color: white;
    border-color: #e13612;
    background-color: #db960d; }
  .btn-primary.active, .btn-primary:active,
  .open > .btn-primary.dropdown-toggle {
    color: white;
    border-color: #e13612;
    background-color: #db960d; }
    .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
    .open > .btn-primary.dropdown-toggle.focus,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .btn-primary.dropdown-toggle:hover {
      color: white;
      border-color: #db960d;
      background-color: #db960d; }
  .btn-primary.active, .btn-primary:active,
  .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary.focus,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary:hover {
    border-color: #db960d;
    background-color: #db960d; }
  .btn-primary .badge {
    color: #db960d;
    background-color: white; }

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

.btn-xl {
  padding: 15px 30px; }


.section-contact {
  padding: 100px;
  text-align: center ;
  
  
   }
.section-heading{


}

hr {

position: center ;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);



table {
  background: #012B39;
  border-radius: 0.25em;

  margin: 1em;
  border-collapse:separate; 
  border-spacing: 2em 2em;
}
th {
  border-bottom: 1px solid #364043;
  color: #12162B;
  font-size: 2em;
  font-weight: 600;
  font-family: Advent Pro ;
  
  text-align: center;
  margin-left: 150px ;
}
td {
  color: #12162B;
  font-weight: 400;
  padding: 100px;
  margin-left: 100px ;
  margin-top: 50px;
  font-family: Roboto;
  font-size: 1.25em;
}
.disabled td {
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover td {
 
  color: #0076a3;
  
  }







  